html {
    line-height: 1;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
}

h1 {
    margin: 8px auto;
    padding: auto;
}

.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-basis: 300px;
    flex-grow: 1;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}
