* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-size: 16px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.header {
    display: flex;
    background-image: linear-gradient(60deg, red, orange);
    color: white;
}

h1 {
    margin: 21.44px auto;
}

.footer {
    flex: 0 0 auto;
    padding: 0.5em;
    background-color: #e5e5e5;
    text-align: center;
}

.main {
    padding: 0.5em;
    display: flex;
}

.navigation {
    width: 20%;
}

.section {
    width: 60%;
    font-size: 1.25em;
    padding: 0.5em;
}

.units-list {
    line-height: 1.75em;
}

.nav-list {
    list-style-type: none;
    padding: 0;

    color: white;
}

.nav-list-item {
    margin-bottom: 0.5em;
    line-height: 2em;
    background-color: #808080;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    padding: 0 0.5em;
}

.nav-list-link {
    text-decoration: none;
    color: white;
    margin-bottom: 2em;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}

.section__header {
    font-size: 5vw;
    text-align: center;
}

.news {
    width: 20%;
}
