.pink-rectangle {
    background-color: pink;
}

.green-rectangle {
    background-color: green;
}

.yellow-rectangle {
    background-color: yellow;
}

.blue-rectangle {
    background-color: blue;
    margin: 50px;
}

.rectangle {
    border: 2px solid black;
    padding: 50px;
}
